<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>List App</title>
</head>

<body>
    <div id="listApp" style="text-align: center; ">
        <div v-for="objeto in objetos" v-bind:class="{'objetoComprado':objeto.cantidad>0}">
            <h3 class="nombre">{{objeto.nombre}}</h3>
            <h4 class="precio">precio: {{objeto.precio}}</h4>
            <h5 class="cantidad">cantidad: {{objeto.cantidad}}</h5>
            <button @click="comprarObjeto(objeto.nombre)">Comprar</button>
            <button @click="eliminarObjeto(objeto.nombre)">Eliminar</button>
        </div>
        <div class="carrito" style="margin-top: 20px;" v-if="totalObjetosEnCarrito > 0">
            <div>
                <span>Objectos en Carrito: {{totalObjetosEnCarrito}}</span>
            </div>
            <div style="margin-top: 20px;">
                <span>Precio total: {{precioTotal}}</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/root.js"></script>
</body>

</html>